body {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    Height: 90%;
    margin-top: 1.0em;
    margin-bottom: 50%;
    min-width: 900px;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.projectImg {
    max-width: 25%;
}

.projectSection {
    margin-left: 10%;
}

.projectHeader {
    margin-bottom: 0px;
}

.projectDate {
    margin-bottom: 5px;
}

.short {
    margin-bottom: 0;
}

.email {
    margin-top: 0;
    margin-bottom: 0;
}

.headerPicture {
    max-width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.headerDescription {
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 4;
}

.horizontalPanel {
    display: inline-flex;
    flex-direction: row;
}

.verticalPanel {
    display: inline-flex;
    flex-flow: column wrap;
}

.imageDivider {
    width: 2%;
}
